<% provide(:title, "Home") %>


    <div class="container-fluid">
    <div class="media-body">
      <h1 class="media-heading">Welcome to C++</h1>
      <p>This web application is designed to teach and reinforce key concepts of C++ and Object Oriented Programming by combining education tools
      such as Algorithm Visualization and quiz questions to solidify and strengthen C++ knowledge and understanding.</p>
      <br/>
      <p>Please select a topic below to get started:</p>
      <ul class = "topic-menu">
        <li><a href = '#'>Multiple Inheritance</a></li>
        <li><a href = '#'>Static vs. Dynamic Dispatch</a></li>
        <li><a href = '#'>Auto Typing</a></li>
        <li><a href = '#'>Overloading Operators</a></li>
        
      </ul>
      
    </div>
</div>
  
  </div>
</div>