// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row div{
    display:inline;
    padding-bottom: 0;
}

.col-xs-2{
    float: left;
    margin: 0 0 0 15px;
    padding-bottom: 0;
}

.col-xs-9{
    float: left;
    padding: 0;
    margin: 0;
}

.with-border{
    border-left: 1px solid black;
}
h2{
    text-align: center;
    font-weight: bold;
}

.topics-list{
    list-style:none;
    margin:10px auto;
    padding:0;
}

h3{
    font-size: 24px;
}

.topics-list li{
    padding: 10px;
}

pre, code{
    background-color: #eceeef;
    padding: 0;
}